################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/Task14/PrintFile.cs
/ConsoleApp1/Task14
/ConsoleApp1/Task15
/ConsoleApp1/Task16
